<div class="element">
<h2 class="title">New Comment</h2>

<%= form_for [@post, @comment] do |f| %>
  <p>
  <%= f.text_field :content, :size=>"80" %></p>
  <br />

  <p class="submit"><%= f.submit %></p>
<% end %>
</div>
