<div class="element">
  <h2 class="title">Leave Feedback!</h2>

  <%= form_for @feedback do |f| %>
    <p>
    <%= f.text_field :content, :size=>"80" %></p>
    <br />

    <p class="submit"><%= f.submit %></p>
  <% end %>
</div>
