/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require normalize-rails
 *= require_tree .
 *= require_self
 */

body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   flex-grow: 1;
 }
nav {
   width: 100vw;
   height: 7vh;
   background: blue;
   padding: 20px 10px 0 10px;
   text-align: center;
 }
nav li {
   display: inline;
   font-size: 26px;
   color: white;
   margin: 0 30px;
 }
nav a {
   color: white;
   text-decoration: none;
 }
main {
   margin: 0 auto;
   width: 800px;
   background: #75dfbc;
 }
footer {
   width: 100vw;
   background: blue;
   color: white;
   padding: 10px;
   text-align: center;
}
footer a {
  color: white;
  text-decoration: none;
}
h2 {
  font-size: 30px;
  margin-bottom: 15px;
}
h3 {
  font-size: 25px;
}
h4 {
  font-size: 17px;
  font-style: italic;
  margin: 7px 0;
}

.alert{
 color:#f00;
 text-align: center;
 font-size: 25px;
 margin-top: 30px;
}

.notice{
 color:#00f;
 text-align: center;
 font-size: 25px;
 margin-top: 30px;
}
