// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
  background: #ffa500;
  width: 650px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}
