// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.element {
  background: #f6f175;
  width: 650px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}
.title {
  margin-left: 5px;
}
.title a {
  text-decoration: none;
}
 .image {
   width: 650px;
   height: 400px;
   margin: 10px auto;
 }
.userImage {
   width: 48px;
   height: 48px;
   float: left;
   margin-right: 10px;
 }
.postShow {
  background: yellow;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px;
}
.barrier {
  text-align: center;
  padding-bottom: 8px;
}
.barrier a {
  text-decoration: none;
}
.submit {
  color: blue;
}
input[type=submit] {
    padding:5px 15px;
    background: #ccc;
    border:0 none;
    border-radius: 5px;
}
