// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.postElement {
  background: #aaaaaa;
  width: 650px;
  margin: 50px auto;
  padding: 20px;
  position: relative;
}
 .postImage {
   width: 600px;
   height: 400px;
   margin: 15px auto;
 }
.postUserImage {
   width: 60px;
   height: 60px;
   float: left;
   margin-right: 10px;
 }
.postArticle {
  background: green;
  width: 800px;
  margin: 0 auto;
  padding: 10px;
}
.postShow {
  background: yellow;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px;
}
