<h2>Edit Comment</h2>

<% @community = Community.find(params[:community_id]) %>
<%= form_for [@community, @story, @storycomment] do |f| %>
  <%= f.label :content %>
  <%= f.text_area :content %>
  <%= f.submit %>
<% end %>
