<div class="element">
  <h2 class="title">New Comment</h2>

  <% @community = Community.find(params[:community_id]) %>
  <%= form_for [@community, @story, @storycomment] do |f| %>
    <p>
    <%= f.text_field :content, :size=>"80" %></p>
    <br />

    <br />
    <p class="submit"><%= f.submit %></p>
  <% end %>
</div>
